.fade-enter{
    opacity: 0;
}
.fade-enter-active{
    transition: opacity 3s;
}
.fade-leave-to{
    opacity: 0;
}
.fade-leave-active{
    transition: opacity 3s;
}

.w {
    width: 70%;
    margin: 0 auto;
}
.box_style {
    box-shadow: 0 6px 15px rgb(36 37 38 / 10%);
    border-radius: 10px;
}