@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?yx2gmz');
    src:  url('../fonts/icomoon.eot?yx2gmz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?yx2gmz') format('truetype'),
      url('../fonts/icomoon.woff?yx2gmz') format('woff'),
      url('../fonts/icomoon.svg?yx2gmz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
body {
    overflow: hidden;
    background: url("../images/background/1597244020382.png") no-repeat top;
    background-size:100% auto;
    background-attachment: fixed;
}
.left-band {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5));
}
.left-band .left-text {
    position: absolute;
    left: 25%;
    top: 38%;
    color: #fff;
}
.left-text h2 {
    font-size: 45px;
}
.left-text .info {
    margin-top: 20px;
    font-size: 28px;
}
.left-text .btn {
    display: inline-block;
    margin-right: 20px;
    margin-top: 40px;
    width: 150px;
    height: 55px;
    line-height: 52px;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    transition: all .3s;
}
.left-text .btn:hover {
    color: black;
    background-color: #fff;
}
.left-band .chevron-left {
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}
.chevron-right {
    font-family: 'icomoon';
    cursor: pointer;
}
.search {
    position: absolute;
    top: 45%;
    right: 10%;
    width: 470px;
}
.search input {
    float: left;
    width: 420px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {
    font-family: 'icomoon';
    float: left;
    width: 50px;
    height: 40px;
    background-color: #00a4ff;
    color: #fff;
    border: 0;
}
#main-page {
    display: none;
    opacity: 0;
    background-size:cover;
    background: linear-gradient(to right,rgba(247, 246, 244, 0.5),rgba(247, 246, 244,.5));
}
.page-head {
    /* display: none; */
    height: 65px;
}
#header_list li {
    float: left;
    padding: 0 40px;
    line-height: 65px;
    font-size: 16px;
    /* border: 1px solid red; */
}
#header_list li a {
    color: #fff;
}
.aside-nav {
    position: fixed;
    top: 30%;
    left: 90%;
    padding: 20px 0px;
    width: 90px;
    background-color: #79bce4;
}
.aside-nav ul {
    margin: auto;
    width: 70%;
    text-align: center;
}
.aside-nav ul li{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.aside-nav ul li:hover,
.aside-nav ul .aside-li-on{
    color: #79bce4;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 7px rgb(36 37 38 / 10%);
}
#bangumi {
    /* display: none; */
    margin-top: 100px;
    overflow: hidden;
    height: 2000px;
    background-color: #fff;
}
.storey-title {
    margin: 20px;
    margin-bottom: 11px;
    height: 40px;
    color: #7abde5;
    /* border: 1px solid red; */
}
.storey-title h2 {
    float: left;
    margin-left: 35px;
    line-height: 45px;
    font-size: 26px;
}
.storey-title ul {
    float: right;
    margin-right: 35px;
    line-height: 51px;
    cursor: default;
}
.storey-title ul li {
    float: left;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}
.list_on {
    color: #fff;
    /* box-shadow: 0 -6px 15px rgb(36 37 38 / 10%); */
    border-radius: 15px 15px 0 0;
    background-color: #79bce4;
}
.list-box {
    margin: 40px;
    margin-top: 0;
    padding: 20px;
    /* border-top: 1px solid #00a1d6; */
    background-color: #79bce4;
    border-radius: 10px;
    overflow: auto;
}

.list-box>ul>li {
    display: block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 260px;
    /* height: 70px; */
    background-color: #fff;
    border-radius: 15px;
    transition: all .3s;
}
.list-box>ul>li:hover{
    box-shadow: 9px 9px 9px rgb(36 37 38 / 10%);
}
.list-box .pic {
    float: left;
    width: 70px;
    height: 70px;
}
.list-box .pic img{
    width: 100%;
    height: 100%;
}
.list-box .text {
    float: left;
    width: 140px;
    margin-left: 10px;
}
.text-bottom .episode {
    color: #999;
}
.text .bangumi-title{
    display: block;
    width: 140px;
    height: 37px;
    margin-top: 2px;
    margin-bottom: 12px;
    color: #27719d;
}
.text-bottom a{
    float: left;
}
.text-bottom span{
    position: relative;
    float: right;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.text-bottom .chevron-right ul{
    position: absolute;
    padding: 5px 0;
    width: 50px;
    bottom: 0;
    right: -50px;
    background-color: #fefefe;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border-radius: 4px;
}
.text-bottom .chevron-right ul li{
    float: left;
    margin: 0 8%;
    width: 70%;
    padding: 5px;
    transition: all, .3s;
}
.text-bottom .chevron-right ul li:hover a{
    color: #79bce4;
    border-radius: 2px;
}